
:root{
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainRed: #db2777;
}

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(192, 71, 83, 0.9); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }


body {
   display: flex;
   justify-content: center;
   align-items: start;
   /* background: rgb(255,204,51); */
   /* background: linear-gradient(225deg, rgba(255,204,51,1) 35%, rgba(255,179,71,1) 100%); */

   /* background: rgb(255,209,148);
    background: linear-gradient(225deg, rgba(255,209,148,1) 35%, rgba(209,145,60,1) 100%); */

    /* background: rgb(248,181,0);
    background: linear-gradient(210deg, rgb(251, 188, 17) 35%, rgb(255, 226, 154) 100%);
     */
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(305deg, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
   height: 100%;
   background-size: cover;
   overflow-x: hidden;
}

p,h1,h2{
    color: rgb(117 97 42);
}
.app{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    
}

.app h1{
    margin-bottom: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    min-height: 400px;
    padding: 19px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    margin: 10px 0 ;
    padding: 5px 7px;
    border: none;
    /* background-color:var(--secondaryColor) ; */
    backdrop-filter: blur(5px);
    border-radius: 5px;
    
}
.todo:hover{
    transform: translateY(-2px);
    transition: all .3s ease-in-out;
}
.todoText{
    cursor: pointer;
    font-weight: bold;
    /* color: var(--primaryColor); */
    color: rgb(152 126 51 / 82%);
}
.completed{
    text-decoration: line-through;
    color: rgb(152 126 51 / 30%);
}
.input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 3px;
    outline: none;
    width: 200px;
    /* filter: blur(1.5rem); */
    opacity: 70%;
}
.input:focus{
    /* border: 2px solid blueviolet; */
    border: 2px solid rgb(255 218 117);
    
}
.formControl{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    margin-bottom: 20px;
}
.btn{
    color: #6b28d9;
    background-color: #fff;
    border: 1px solid #6b28d9;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    cursor: pointer; 
    box-shadow: 3px 5px 6px 0px rgba(236,230,245,0.29);
/* -webkit-box-shadow: 10px 10px 5px 0px rgba(236,230,245,0.29); */
/* -moz-box-shadow: 10px 10px 5px 0px rgba(236,230,245,0.29); */
}
.editBtn,.deleteBtn{
    text-align: center;
    width: 20px;
    height: 20px;
}
.editBtn i{
    font-size: 20px;
    color: #9479bfeb;
    cursor: pointer; 
}
.deleteBtn i{
    font-size: 20px;
    color: #e178a6cc;
    cursor: pointer; 
    margin-left: 5px;
}

.remove{
    color: rgb(236, 68, 68);
    border: 1px solid rgb(236, 68, 68);
    margin-left: 10px;
    box-shadow: 10px 10px 5px 0px rgba(240,218,218,0.29);
-webkit-box-shadow: 10px 10px 5px 0px rgba(240,218,218,0.29);
-moz-box-shadow: 10px 10px 5px 0px rgba(240,218,218,0.29);
}
.addTodo,.updateTodo{
    /* color: rgb(251, 188, 17); */
    /* color: rgb(238 174 0); */
    color: rgb(206 154 10);
    opacity: 80%;
    background-color: rgb(255, 242, 207);
    border: unset;
    transition: all 0.3s;
}
.addTodo:hover ,.updateTodo:hover{
    box-shadow: 4px 6px 20px 0px rgba(210,209,202,0.75);
    -webkit-box-shadow: 4px 6px 20px 0px rgba(210,209,202,0.75);
    -moz-box-shadow: 4px 6px 20px 0px rgba(210,209,202,0.75);
}


header{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 30px;
}
header span{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    font-size: 15px;
    background-color: #fffdef94;
    color: rgb(238 174 0);
    border-radius: 50%;
    opacity: 80%;
}
.filter-select{
    display: flex;
    justify-content: center;   
    width: 10rem;
    height: 20px;
    margin: 40px 20px; 
    align-items: center;   
    margin-bottom: 40px;
}

.filter{
    width: 100%;
    backface-visibility: visible;
    /* height: 20px; */
}