
:root{
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainRed: #db2777;
}
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(192, 71, 83, 0.9); 
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff6868; 
  }


body {
   display: flex;
   justify-content: center;
   align-items: start;
   /* background: rgb(255,204,51); */
   /* background: linear-gradient(225deg, rgba(255,204,51,1) 35%, rgba(255,179,71,1) 100%); */

   /* background: rgb(255,209,148);
    background: linear-gradient(225deg, rgba(255,209,148,1) 35%, rgba(209,145,60,1) 100%); */

    /* background: rgb(248,181,0);
    background: linear-gradient(210deg, rgb(251, 188, 17) 35%, rgb(255, 226, 154) 100%);
     */
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(305deg, #f7797d, #FBD786, #C6FFDD);  
    background: linear-gradient(305deg, #f7797d, #FBD786, #C6FFDD); 
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* height: 100vh; */
    overflow-x: hidden;
}

p,h1,h2{
    color: rgb(117 97 42);
}
h1{
    font-size: 26px;
}
h2{
    font-size: 20px;
}
.app{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.app h1{
    margin-bottom: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 19px;
    width: 300px;
    min-height: 400px;
}

  .header {
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-areas: 
        " span h2 "
        " select  select"
    ;
    align-items:center;
    margin: 20px auto  ;
    
}
.text-place{
    width: 17rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo{
    display: flex;
    align-items: center;
    margin: 10px 0 ;
    padding: 5px 7px;
    border: none;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    justify-content: space-between;
    width: 16rem;
    
}
.todo:hover{
    transform: translateY(-2px);
    transition: all .3s ease-in-out;
}
.todoText{
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
    color: rgb(152 126 51 / 82%);
}
.completed{
    text-decoration: line-through;
    color: rgb(152 126 51 / 30%);
}
.input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 3px;
    outline: none;
    opacity: 70%;
    width: 170px;
}
.input:focus{
    border: 2px solid rgb(255 218 117);
}
.formControl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 17rem;
}
.btn{
    background-color: #fff;
    border: 1px solid #6b28d9;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    cursor: pointer; 
   
}
.editBtn,.deleteBtn{
    text-align: center;
    width: 20px;
    height: 20px;
}
.editBtn i{
    font-size: 20px;
    color: #9479bfeb;
    cursor: pointer; 
}
.deleteBtn i{
    font-size: 20px;
    color: #e178a6cc;
    cursor: pointer; 
    margin-left: 5px;
}

.remove{
    color: rgb(236, 68, 68);
    border: 1px solid rgb(236, 68, 68);
    margin-left: 10px;
    box-shadow: 10px 10px 5px 0px rgba(240,218,218,0.29);
-webkit-box-shadow: 10px 10px 5px 0px rgba(240,218,218,0.29);
-moz-box-shadow: 10px 10px 5px 0px rgba(240,218,218,0.29);
}
.addTodo,.updateTodo{
    color: rgb(206 154 10);
    opacity: 80%;
    background-color: rgb(255, 242, 207);
    border: none;
    transition: all 0.3s;
}
.addTodo:hover ,.updateTodo:hover{
    box-shadow: 4px 6px 20px 0px rgba(210,209,202,0.75);
    -webkit-box-shadow: 4px 6px 20px 0px rgba(210,209,202,0.75);
    -moz-box-shadow: 4px 6px 20px 0px rgba(210,209,202,0.75);
}




.header span{
    grid-area: span;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    font-size: 15px;
    background-color: #fffdef94;
    color: rgb(238 174 0);
    border-radius: 50%;
    opacity: 80%;

    margin-right: 17px;
}
.header h2{
    grid-area: h2;
    white-space: nowrap; 
}
.filter-select{
    display: flex;
    justify-content: center;
    grid-area: select;
    width: 10rem;
    height: 20px;
    margin: 40px auto; 
    align-items: center;   
    margin-bottom: 40px;
    
    
}



.filter{
    width: 100%;
    backface-visibility: visible;
}

@media  all and (min-width: 640px) {
    .container {
        width: 40rem;
    }
    .header{
        grid-template-columns: 9% 60% 31% ;
        grid-template-areas: 
         " span h2 select"
    ;
        
    }
    .formControl{
        justify-content: space-between ;
        min-width: 21rem;
    }
    .todo{
        min-width: 24rem;
    }
    .input{
        min-width: 230px;
    }
    .filter-select{
        margin: 30px auto ; 
    }
    .todoText{
        max-width: 15rem  ;
    }
  }
  